<h1>List of Shows</h1>

<table>
  <tr>
    <th>Title (network)</th>
    <th>Starting Year</th>
    <th>Synopsis </th>
    <th>Genre </th>
  </tr>
  <% @television_shows.each do |show| %>
  <tr>
    <td><%= "#{show.title} (#{show.network})"%></td>
    <td><%= show.starting_year %> </td>
    <td><%= show.synopsis %> </td>
    <td><%= show.genre %> </td>
  </tr>
  <% end %>
</table>

<p>
  Don't see your favorite show?  Add it <a href="television_shows/new"> here: </a>
</p>
