<h1>List of Shows</h1>

<table>
  <thead>
  </thead>
  <% @television_shows.each do |show| %>
  <tr> <%= show.summary %>
  <% end %></tr>
</table>

<p>
  Don't see your favorite show?  Add it <a href="television_shows/new"> here: </a>
</p>
