<h1>Add Show Details</h1>
  <p>Don't see your favorite show?  Add it here: </p>
  <p> <%= session[:message] %></p>

<form action="/television_show" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  <label for="network">Network:</label>
  <input type="text" name="network" id="network">
  <label for="starting_year">Starting Year:</label>
  <input type="text" name="starting_year" id="starting_year">
  <label for="synopsis">Synopsis:</label>
  <input type="text" name="synopsis" id="synopsis">
  <label for="genre">Genre:</label>
  <select name="genre" id="genre">
    <option value="Action">Action</option>
    <option value="Mystery">Mystery</option>
    <option value="Drama">Drama</option>
    <option value="Comedy">Comedy</option>
    <option value="Fantasy">Fantasy</option>
  </select>
  <input type="submit" value="Add TV Show">
</form>
